<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"></head>
<div class="main">
        <!-- Navbar content -->
     

    <ul>
        

       
        <li>
            <div class="home">
            <a routerLink="/home" routerLinkActive="active">Home</a> </div>
        </li>
        <li>
            <div class="logreg">
            <a routerLink="/login" routerLinkActive="active">Login</a></div>
        </li>
        <li>
            <div class="logreg">
            <a routerLink="/registration" routerLinkActive="active">Register</a></div>
        </li>
        
       
   </ul> 
    <div class="search">
    <input type="search" placeholder="Search" aria-label="Search">
    <button  class="btn btn-info" type="submit">Search</button></div>
 
</div>

</html>

